* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.rounds {
    border: red solid 1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.middle {
    margin: auto;
    font-size: 40px;
    font-weight: 900;
}

.left h1 {
    color: red;
}

.right h1 {
    color: blue;
}

#round4 div p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:  28px;
}

.winner {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    border: solid 10px powderblue;
    border-radius: 50%;
}

#finalWinner {
    border: red solid 10px;

    border-radius: 30%;
    width: 50%;
    margin: auto;
}